Flask==3.0.0
flask-cors==4.0.0
firebase-admin==6.3.0
python-dotenv==1.0.0
PyPDF2==3.0.1
pdfplumber==0.10.3
sentence-transformers==2.5.1
faiss-cpu==1.7.4
numpy==1.24.3
google-generativeai==0.3.2
requests==2.31.0
gunicorn==21.2.0
Werkzeug==3.0.1
graphviz
pythomata
render_template

